<div ng-controller="profile" class="col-md-12">
  
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-5">PICTURE</div>
      <div class="col-md-7">
        <%= @user.name %><br>
        <% if @user.city %>
          <%= @user.city.name %>, <%= @user.city.country.name %>
        <% else %>
          <span>location unknown</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <% if current_user.is_a_punch_back?(@user.id) %>
        <button ng-click="punch_back(<%= @user.id %>)" class="btn btn-lg btn-success">Punch back!</button>
      <% elsif current_user.already_punched?(@user.id) %>
        <button class="btn btn-lg btn-info">Already punched!</button>
      <% else %>
        <button ng-click="punch(<%= @user.id %>)" class="btn btn-lg btn-primary">Punch</button>
      <% end %>
    </div>
  </div>

  <!-- DETAILS -->
  <div class="row">
    <% if @user.detail %>
      <!-- Summary -->
      <% if @user.detail.self_description %>
        <div class="col-md-12">
          <p class="lead">Self description</p>
          <p><%= @user.detail.self_description if @user.detail %></p>
        </div>
      <% end %>
    gosto de tu
      <!-- Topics -->
      <% if @user.topics.size > 0 %>
        <div class="col-md-12">
          <p class="lead">Describe yourself with 5 words</p>
          <span class="label label-info topics">Topic 1</span>
          <span class="label label-info topics">Topic 2</span>
        </div>
      <% end %>

      <!-- Interests -->
      <% if @user.interests.size > 0 %>
        <div class="col-md-12">
          
        </div>
      <% end %>

      <!-- books and movies -->
      <div class="col-md-12">
        <p class="lead">Books and Movies</p>
        <span class="label label-info topics">Livro 1</span>
        <span class="label label-info topics">Livro 2</span>
      </div>

      <div class="col-md-12">
        <p class="lead">Idols</p>
        <span class="label label-info topics">Livro 1</span>
      </div>

    <% else %>
      <div class="col-md-12 text-center dashed-box">
        <h3>Nothing to show</h3>
      </div>
    <% end %>

  </div>

</div>