<!DOCTYPE html>
<html ng-app="social">
<head>
  <base href="/">
  <title>Nnet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="main as main">

<!-- NAVIGATION -->
<%= render 'layouts/navigation' %>

<div class="container">
  <%= yield %>
</div>

<!-- FOOTER -->
<%= render 'layouts/footer' %>



<!-- MODALS -->
<%= render 'layouts/login_modal' %>
<%= render 'layouts/signup_modal' %>

</body>
</html>
